@media screen and (max-width: 576px) {
    .home-about {
        padding: 20px;
    }
    .banner-main {
        padding: 40px 0;
    }
    .banner-text h2 {
        font-size: 22px;
        line-height: 34px;
    }
    .banner-text h2 span {
        font-size: 32px;
        line-height: 45px;
    }

    .about-home-text h2 {
        font-size: 32px;
    }
    .about-home-text h3 {
        font-size: 24px;
    }
    .about-home-text p {
        font-size: 17px;
        line-height: 28px;
        padding: 18px 0 0;
    }
    .operational-cafe h2 {
        font-size: 32px;
    }
    .operational-cafe p {
        padding: 20px 13px;
        font-size: 17px;
    }
    .operational-cafe-main {
        padding: 40px 0;
    }
    .missionbox { 
        min-height: auto;
    }
    .mission-bg {
        padding: 40px 0;
    }
    .missionbox {
        padding: 30px;
    }
    .people-love {
        width: 80%;
        margin: 40px auto;
    }
    .people-love h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .people-love h3 {
        font-size: 32px;
        line-height: 40px;
    }
    .people-love p {
        font-size: 17px;
        line-height: 30px;
    }
    .people-love p span {
        font-size: 17px;
    }
    .girlbox-margin {
        margin-top: 0;
    }
    .footer-form input {
        margin-bottom: 20px;
    }
    .footer-text h3 {
        text-align: left;
    }
    .footer-nav {
        display: inline;
        width: 95%;
        margin: 40px auto;
    }
    .navbar-bg {
        padding: 12px 0;
    }
    .navbar-main {
        margin-top: 10px;
    }

    .banner-button {
        margin-top: 30px;
        padding: 10px;
    }
    .banner-button a {
        font-size: 18px;
    }


    /* about page  */
    .abt-banner-text p {
        text-align: justify;
    }
    .outlet-years {
        padding: 30px 0px 0px 0px;
    }
    .offer-bg { 
        padding: 30px 0;
    }
    .features-main {
        padding: 30px 0px;
    }
    .abt-feature-row {
        padding: 30px 0;
    }
    .about-main {
        padding: 50px 0 30px 0px;
    }
    .abt-banner-text h2 { 
        font-size: 24px; 
        line-height: 28px; 
    }
    .abt-banner-text h3 {  
        font-size: 32px; 
    }
    .abt-offer-text h2 { 
        font-size: 24px; 
        line-height: 28px; 
    }
    .abt-offer-text h3 { 
        font-size: 32px; 
    }
    .abt-features h2 { 
        font-size: 24px; 
        line-height: 28px;
    }
    .abt-features h3 { 
        font-size: 32px; 
    }
    .offer-bg { 
        background-size: contain; 
    }
    .career-text h2 { 
        font-size: 24px; 
        line-height: 30px;
    }
    .career-text h3 { 
        font-size: 32px; 
    }
    .abt-offer-text p{
        width: 100%;
    }
    .abt-features p{
        width: 100%;
    }
    .container-new {
        width: 100%;
        margin: 0  auto;
    }
    .franchisee-banner {
        padding: 40px 0px 40px 0px;
    }

    .franchise-text p { 
        width: auto; 
        font-size: 17px;
        text-align: justify;
    }
    .franchise-text p span { 
        font-size: 17px; 
    }
    .franchise-button a { 
        font-size: 17px; 
    }
    .franchise-bg { 
        padding: 40px 0;
    }
    
    .container-franchise {
        width: 92%;
        margin: 0px auto;
    }
    .franchise-box { 
        margin-bottom: 30px;
    }
    .journey-text h2 { 
        font-size: 26px; 
    }
    .journey-text h3 { 
        font-size: 26px; 
    }
    .success-stories h2 { 
        font-size: 26px; 
    }
    .success-stories h3 { 
        font-size: 26px; 
    }
    .success-stories { 
        width: 200px; 
    }
}


@media screen and (min-width: 577px) and (max-width: 767px) {
    .banner-main {
        padding: 40px 0;
    }
    .home-about {
        padding: 40px;
    }
    .banner-text h2 { 
        font-size: 32px; 
        line-height: 44px; ;
    }
    .banner-text h2 span { 
        font-size: 32px; 
        line-height: 44px; 
    }
    .about-home-text h3 { 
        font-size: 32px; 
    }
    .about-home-text h2 { 
        font-size: 32px; 
    }
    .about-home-text p { 
        font-size: 17px; 
    }
    .people-love p { 
        font-size: 17px; 
    }
    .people-love p span { 
        font-size: 17px; 
    }
    .operational-cafe p { 
        font-size: 17px; 
        line-height: 27px; 
    }
    .operational-cafe-main {
        padding: 40px 0;
    }
    .operational-cafe h2 {
        font-size: 32px;
    }
    .operational-cafe p {
        padding: 40px 15px;
    }
    .mission-bg {
        padding: 50px 0;
    }
    .people-love {
        margin: 50px auto;
    }
    .footer-form input {
        margin-bottom: 20px;
    }
    .footer-nav {
        display: inline;
        width: 95%;
        margin: 40px auto;
    }
    .footer-text h3 {
        text-align: left;
    }
    .missionbox {
        padding: 21px 9px;
    }
/* about page  */
.offer-bg { 
    background-size: contain; 
    padding: 30px 0;
}
.about-main {
    padding: 50px 0 30px 0px;
}
.features-main {
    padding: 30px 0px;
}
.abt-features p { 
    width: 100%; 
}
.container-franchise {
    width: 96%;
    margin: 0px auto;
}
.franchise-text p { 
    width: auto; 
}
.franchise-box { 
    padding: 26px; 
}
.container-new {
    width: 100%;
    margin: 0  auto;
}
.journey-text h2 { 
    font-size: 28px; 
}
.journey-text h3 { 
    font-size: 28px; 
}
.success-stories h2 { 
    font-size: 28px; 
}
.success-stories h3 { 
    font-size: 28px; 
}
}


@media screen and (min-width:768px) and (max-width: 992px) {
    .home-about {
        padding: 30px;
    }

    .operational-cafe h2 {
        font-size: 30px;
        line-height: 47px;
    }
    .operational-cafe p {
        padding-top: 8px;
        padding-bottom: 22px;
    }
    .missionbox {
        padding: 30px;
    }
    .operational-cafe-main {
        padding: 40px 0;
    }
    .mission-bg {
        padding: 40px 0;
    }
    .footer-form input {
        font-size: 16px;
    }
    .banner-main {
        padding: 50px 0;
    }
    .footer-text h3 {
        text-align: left;
    }
    .abt-features p { 
        width: 100%; 
    }
    .container-franchise {
        width: 95%;
        margin: 0px auto;
    }
}

@media screen and (min-width: 992px) {
    .footer-text h3 {
        text-align: left;
    }
}
